.post {
	background-color: #78d5d7;
}

.comments-container,
.comments-container li {
	background-color: #bed8d4;
}

.comments-container form {
	background-color: #f9faf7;
}

body {
	background-color: #f9faf7;
}
